.authSection{
    background: -webkit-linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
    background: -moz-linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
    background: linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px rgb(4, 13, 62) solid;
}

.star{
    position: absolute;
    top: 40%;
    left: 0%;
    width: 800px;
    height: 800px;
    background: url('../img/star.svg') no-repeat center;
    background-size: 100%;
    z-index: 100;
}