@font-face {
    font-family: 'Rubick';
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

.button{
    font-family: 'Rubick';
    border: 2px #F2994A solid;
    border-radius: 5px;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #F2994A;
    padding: 0 15px;
    cursor: pointer;
    &:hover {
        background: #F2994A;
        color: white;
    }
}
.button-active{
    font-family: 'Rubick';
    border: 2px #F2994A solid;
    border-radius: 5px;
    outline: none;
    background: #F2994A;
    font-size: 20px;
    color: white;
    padding: 0 15px;
    cursor: pointer;
}