@font-face {
    font-family: 'Rubick';
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
.chat{
    display: flex;
    padding: 20px 0;
    height: 100%;
    z-index: 200;
}
.chat__wrapper{
    width: 100%;
    height: 100%;
    flex: 12;
}
.chat__tab{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.chat__disc{
    font-size: 18px;
    // color: orange;
    // font-family: 'Rubick';
    height: 40px;
    width: 100%;
    // border: 1px orange solid;
    // border-radius: 10px;
    margin: 3px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form__message{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}
#message{
    width: 85%;
    min-height: 80px;
    resize: none;
    outline: none;
    font-size: 18px;
    font-family: 'Rubick';
    padding: 8px;
    border-radius: 10px;
}
.send{
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: url('../img/send.svg') no-repeat center;
    border: none;
    border-radius: 50%;
    border: 4px orange solid;
    background-size: 60%;
}