.App {
  text-align: center;
  overflow: hidden;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

}


.forWrapper{
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1000px;
  height: 100%;
}

section {
  height: 100vh;
  background: -webkit-linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
  background: -moz-linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
  background: linear-gradient(225deg, rgb(59, 29, 96), rgb(4, 13, 62));
  position: relative;
}
.star{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 800px;
  height: 800px;
  background: url('./chat/img/star.svg') no-repeat center;
  background-size: 100%;
  z-index: 100;
}